In [1]:
import pandas as pd

In [2]:
from importnb import imports
with imports("ipynb"):
    from epias import get_data

In [3]:
required_data = [
    "bpm_order_summary",
    "smp",
    "mcp",
    "dam_volume",
    "idm_aof",
    "yekdem_generation",
    "res_forecast",
]
start_date = "2019-01-01"
end_date = "2019-12-31"

In [4]:
yekdem_generation_data = get_data('yekdem_generation', start_date, end_date)
yekdem_generation_data = pd.DataFrame(yekdem_generation_data['body']['renewableLicencedGenerationAmount'])
yekdem_generation_data['date'] = yekdem_generation_data.apply(lambda x: x['date'].split('+')[0], axis=1)
yekdem_generation_data['date'] = pd.to_datetime(yekdem_generation_data['date'])
yekdem_generation_data.head()

,date,total,wind,geothermal,biogas,biomass,canalType,sun,lfg,riverType,reservoir,others
0,2019-01-01 00:00:00,7707.72,2748.06,950.37,80.83,155.96,1611.54,0.0,51.98,116.94,1965.34,26.70
1,2019-01-01 01:00:00,8130.07,2870.72,953.23,82.38,157.37,1565.03,0.0,51.60,120.75,2301.58,27.41
2,2019-01-01 02:00:00,8278.03,3071.95,954.37,78.11,158.14,1474.42,0.0,50.85,143.59,2319.23,27.37
3,2019-01-01 03:00:00,8035.04,3274.97,951.87,79.96,157.16,1431.05,0.0,52.86,152.94,1926.62,7.61
4,2019-01-01 04:00:00,7663.28,3365.81,942.62,81.13,162.60,1451.69,0.0,52.60,149.37,1456.00,1.46

In [5]:
res_forecast_data = get_data("res_forecast", start_date, end_date)
res_forecast_data = pd.DataFrame(res_forecast_data["body"]["data"])
res_forecast_data["hour"] = res_forecast_data["effectiveDate"].apply(lambda x: x[11:13])
res_forecast_data["date"] = pd.to_datetime(res_forecast_data["effectiveDate"])
res_forecast_data.drop(
    columns=[
        "effectiveDate", "createIp", "modifyIp", "quarter1", "quarter2", "quarter3", "quarter4"
    ],
    inplace=True,
    axis=1
)

In [6]:
bpm_data = get_data('bpm_order_summary', start_date, end_date)
bpm_data = pd.DataFrame(bpm_data['body']['bpmOrderSummaryList'])
bpm_data["hour"] = bpm_data["date"].apply(lambda x: x[11:13])
bpm_data["date"] = pd.to_datetime(bpm_data["date"])
bpm_data.head()

,date,net,upRegulationZeroCoded,upRegulationOneCoded,upRegulationTwoCoded,downRegulationZeroCoded,downRegulationOneCoded,downRegulationTwoCoded,upRegulationDelivered,downRegulationDelivered,direction,nextHour,hour
0,2019-01-01 00:00:00+03:00,-1934.80,0.0,0.0,0,2288.57,0.0,0,0.0,-1934.80,ENERGY_SURPLUS,2019-01-01T01:00:00.000+0300,00
1,2019-01-01 01:00:00+03:00,-750.87,0.0,0.0,0,808.08,0.0,0,0.0,-750.87,ENERGY_SURPLUS,2019-01-01T02:00:00.000+0300,01
2,2019-01-01 02:00:00+03:00,-982.77,0.0,0.0,0,1060.75,0.0,0,0.0,-982.77,ENERGY_SURPLUS,2019-01-01T03:00:00.000+0300,02
3,2019-01-01 03:00:00+03:00,-764.62,0.0,0.0,0,1120.48,0.0,0,0.0,-764.62,ENERGY_SURPLUS,2019-01-01T04:00:00.000+0300,03
4,2019-01-01 04:00:00+03:00,-1233.29,0.0,0.0,0,1874.63,56.0,0,0.0,-1233.29,ENERGY_SURPLUS,2019-01-01T05:00:00.000+0300,04

In [7]:
smp_data = get_data('smp', start_date, end_date)
smp_data = pd.DataFrame(smp_data['body']['smpList'])
smp_data["hour"] = smp_data["date"].apply(lambda x: x[11:13])
smp_data["date"] = pd.to_datetime(smp_data["date"])
smp_data.head()

,date,price,smpDirection,smpDirectionId,nextHour,hour
0,2019-01-01 00:00:00+03:00,5.00,YAT,3,2019-01-01T01:00:00.000+0300,00
1,2019-01-01 01:00:00+03:00,95.04,YAT,3,2019-01-01T02:00:00.000+0300,01
2,2019-01-01 02:00:00+03:00,79.60,YAT,3,2019-01-01T03:00:00.000+0300,02
3,2019-01-01 03:00:00+03:00,0.00,YAT,3,2019-01-01T04:00:00.000+0300,03
4,2019-01-01 04:00:00+03:00,0.00,YAT,3,2019-01-01T05:00:00.000+0300,04

In [8]:
mcp_data = get_data('mcp', start_date, end_date)
mcp_data = pd.DataFrame(mcp_data['body']['dayAheadMCPList'])
mcp_data["hour"] = mcp_data["date"].apply(lambda x: x[11:13])
mcp_data["date"] = pd.to_datetime(mcp_data["date"])
mcp_data['exchangeRate'] = mcp_data['price'] / mcp_data['priceUsd']
mcp_data.head()

                       date   price  priceUsd  priceEur hour  exchangeRate
0 2019-01-01 00:00:00+03:00  100.38     19.01     16.61   00      5.280379
1 2019-01-01 01:00:00+03:00   96.72     18.31     16.01   01      5.282359
2 2019-01-01 02:00:00+03:00   81.60     15.45     13.51   02      5.281553
3 2019-01-01 03:00:00+03:00   38.58      7.31      6.39   03      5.277702
4 2019-01-01 04:00:00+03:00   11.52      2.18      1.91   04      5.284404

In [9]:
dam_data = get_data('dam_volume', start_date, end_date)
dam_data = pd.DataFrame(dam_data['body']['dayAheadMarketVolumeList'])
dam_data["hour"] = dam_data["date"].apply(lambda x: x[11:13])
dam_data["date"] = pd.to_datetime(dam_data["date"])
dam_data.head()

,date,quantityOfAsk,volume,quantityOfBid,priceIndependentBid,priceIndependentOffer,blockBid,blockOffer,matchedBids,matchedOffers,period,periodType,hour
0,2019-01-01 00:00:00+03:00,19880.6,13309.6,33249.3,10342.4,12830.2,1747.8,192.0,13309.6,13309.7,0,None,00
1,2019-01-01 01:00:00+03:00,18660.2,13272.2,34729.0,10483.3,12816.2,1747.8,192.0,13272.2,13272.2,0,None,01
2,2019-01-01 02:00:00+03:00,17249.8,12777.1,36011.0,9800.5,11970.1,1747.8,522.0,12777.1,12777.1,0,None,02
3,2019-01-01 03:00:00+03:00,16207.6,12858.0,36243.3,8771.9,12199.7,1747.8,522.0,12858.0,12858.0,0,None,03
4,2019-01-01 04:00:00+03:00,15672.8,13008.9,36614.6,8301.4,12522.7,1747.8,394.0,13008.9,13008.8,0,None,04

In [10]:
idm_aof = get_data('idm_aof', start_date, end_date)
idm_aof = pd.DataFrame(idm_aof['body']['idmAofList'])
idm_aof["hour"] = idm_aof["date"].apply(lambda x: x[11:13])
idm_aof["date"] = pd.to_datetime(idm_aof["date"])
idm_aof.head()

                       date   price hour
0 2019-01-01 00:00:00+03:00  100.23   00
1 2019-01-01 01:00:00+03:00   96.85   01
2 2019-01-01 02:00:00+03:00   80.25   02
3 2019-01-01 03:00:00+03:00   38.28   03
4 2019-01-01 04:00:00+03:00   11.67   04

In [19]:
df = pd.DataFrame(
    columns=[
        "date",
        "hour",
        "netImbalanceVolume",
        "smp",
        "mcp",
        "mcpUsd",
        "damVolume",
        "idm",
        "upRegulationZeroCoded",
        "downRegulationZeroCoded",
        "upRegulationDelivered",
        "downRegulationDelivered",
        "exchangeRate",
        "windGeneration",
        "solarGeneration",
    ]
)

In [20]:
for i in range(len(idm_aof)):
    # Set date of df
    df.loc[i, "date"] = idm_aof.loc[i, "date"]
    df.loc[i, "hour"] = idm_aof.loc[i, "hour"]
    df.loc[i, "netImbalanceVolume"] = bpm_data.loc[i, "net"]
    df.loc[i, "smp"] = smp_data.loc[i, "price"]
    df.loc[i, "mcp"] = mcp_data.loc[i, "price"]
    df.loc[i, "damVolume"] = dam_data.loc[i, "volume"]
    df.loc[i, "idm"] = idm_aof.loc[i, "price"]
    df.loc[i, "upRegulationZeroCoded"] = bpm_data.loc[i, "upRegulationZeroCoded"]
    df.loc[i, "downRegulationZeroCoded"] = bpm_data.loc[i, "downRegulationZeroCoded"]
    df.loc[i, "upRegulationDelivered"] = bpm_data.loc[i, "upRegulationDelivered"]
    df.loc[i, "downRegulationDelivered"] = bpm_data.loc[i, "downRegulationDelivered"]

    # 'wind', 'canalType', 'sun', 'riverType', 'reservoir',
    df.loc[i, "windGeneration"] = yekdem_generation_data.loc[i, "wind"]
    df.loc[i, "canalGeneration"] = yekdem_generation_data.loc[i, "canalType"]
    df.loc[i, "solarGeneration"] = yekdem_generation_data.loc[i, "sun"]
    df.loc[i, "riverGeneration"] = yekdem_generation_data.loc[i, "riverType"]
    df.loc[i, "reservoirGeneration"] = yekdem_generation_data.loc[i, "reservoir"]
    if mcp_data.loc[i, "price"] > 1:
        df.loc[i, "exchangeRate"] = mcp_data.loc[i, "exchangeRate"]
    else:
        df.loc[i, "exchangeRate"] = df.loc[i - 1, "exchangeRate"]

In [21]:
df['smpUsd'] = df['smp'] / df['exchangeRate']
df['mcpUsd'] = df['mcp'] / df['exchangeRate']
df['ImbalanceToVolumeRatio'] = df['netImbalanceVolume'] / df['damVolume']
df.to_csv('./data/data2019.csv', index=False)